RELEASE_JKS_FILE="absolute path to release.jks file"
RELEASE_JKS_PASS="plain password of release.jks file"
RELEASE_KEY_ALIS="alais for key in release.jks file"
RELEASE_KEY_PASS="plain alias password of release.jks file"
