*.iml
*.log
*.hprof
*.apk
*.jks
*.keystore
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
*/build
/captures
output.json
google-services.json
.externalNativeBuild
.cxx
local.properties
